body {
    background-color: cyan;
}


/* header content design  */

.header {
    text-align: center;
    color: tomato;
    border-radius: 10px solid pink;
    padding: 20px 0px 15px 0px;
}


/* input field  */

#guessingNumber {
    text-align: center;
    width: 250px;
    height: 50px;
    color: gray;
    border-radius: 10px cyan;
}


/* submit btn  */

#submitButton {
    font-size: 20px;
    margin-top: 20px;
    width: auto;
    height: 35px;
    border-radius: 5px;
    background-image: linear-gradient(230deg, rgb(202, 26, 143), rgb(11, 107, 197));
}

#submitButton:hover {
    color: rgb(238, 27, 27);
    font-weight: bold;
}


/* history list  */

ul {
    text-align: center;
    list-style: inside;
}


/* .success-number {} */

.low-number {
    font-style: italic;
    color: blue;
}

.high-number {
    font-style: bold;
    color: red;
}

.spiralContainer {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 20px;
    -webkit-animation: spin 3s linear 0s infinite reverse;
    -moz-animation: spin 3s linear 0s infinite reverse;
    -ms-animation: spin 3s linear 0s infinite reverse;
    -o-animation: spin 3s linear 0s infinite reverse;
    animation: spin 3s linear 0s infinite reverse;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.spiral {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(http://farm7.staticflickr.com/6115/6319704650_0a2bd0dcef_o.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-animation: spin 6s linear 0s infinite normal;
    -moz-animation: spin 6s linear 0s infinite normal;
    -ms-animation: spin 6s linear 0s infinite normal;
    -o-animation: spin 6s linear 0s infinite normal;
    animation: spin 6s linear 0s infinite normal;
}

.spiralContainer:hover {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(360deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(360deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}